body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

#draw {
    background: white;
    display: block;
}
.actions {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}
.actions svg {
    width: 1.5em;
    height: 1.5em;
    transition: all 0.3s; 
    margin: 0 10px;
}

#download {
    position: fixed;
    right: 20px;;
    top: 20px;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: grey;
    overflow: hidden;
 }

#pen.active, #eraser.active {
    fill: black;
    transform: scale(1.2);
    transition: all 0.3s;
 }

.colors {
    position: fixed;
    top: 60px;
    left: 29px;

}
.colors > li {
    width: 20px;
    height: 20px;
    margin: 10px 0;
    border-radius: 50%;

}
.colors > li.red {
    background: red;
}
.colors > li.green {
    background: green;
}
.colors > li.blue {
    background: blue;
}
.colors > li.active {
    transform: scale(1.3);
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}
.sizes {
    position: fixed;
    right: 0px;
    top: 50px;
}

.sizes > li {
    margin: 30px 0;
}
.sizes > .small {
    height: 0;
    width: 100px;
    border-top: 5px solid black;
}
.sizes > .big {
    height: 0;
    width: 100px;
    border-top: 10px solid black;
}

.sizes > li.active {
    transform: scale(1.3);
}